body {
	margin: 20px 0;
	padding: 0;
	background: gray;
	font: normal small Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3 {
	margin-top: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	color: #A33000;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
	margin: 0;
}

p, ul, ol, blockquote {
	margin-top: 0;  
}

a:link {
	text-decoration: none;
	color: #A33000;
}

a:hover {
	text-decoration: underline;
}

li {
	
	color: #A33000;
}

li a:link {
	border-bottom: 1px solid #A33000;
	color: #666666;
}

li a:hover {
	border-bottom: 1px solid #434434;
	text-decoration: none;
	color: #A33000;
}
img {
	border-color: #434434;
	}
}

img.float {
	float: left;
	margin: 5px 15px 10px 0;
	border: 5px solid #A33000;
}

/* Header */

#header {
	width: 700px;
	height: 160px;
	margin: 0 auto;
	padding: 10px;
	background: #434434 url(images/img3.jpg) no-repeat 10px 10px;
}

#header * {
	margin: 0;
	padding: 0;
	float: left;
	text-decoration: none;
	font-size: 18px;
	font-style: italic;
	color: #FFFFFF;
}

#header h1 {
	padding: 128px 0 0 18px;
	font-weight: bold;
}

#header h2 {
	padding: 128px 0 0 0;
}

	

/* Content */
#content {
	width: 700px;
	margin: 0 auto;
	background: #FFFFFF;
	border: 10px solid #434434;
	border-top: none;
}
#menycontainer {float: center; margin-left: 0; padding-left: 0; width: 700px; height: 40px; background: #434434; font-size: 100%; align: middle;}
#menycontainer li {display: inline; padding-left: 40px; margin-left: 0 auto; }
#menycontainer ul a {float: center; text-decoration: none; padding: 0.3em 2em;  } 

#menycontainer a:link {color: #ffffff;border-bottom: 2px dotted #A33000;}
#menycontainer a:visited {color: #ffffff; border-bottom: 2px dotted #A33000;}
#menycontainer a:hover {background: #434434;border-bottom: none;}
#menycontainer a#current {background: #434434; border-bottom: none; color: #ffffff;} 


#vansterspalt {
	float: left;
	width: 180px;
	padding: 30px 10px;
	border-right: 10px solid #434434;
}

#hogerspalt {
	float: left;
	margin-left: 20px;
	width: 400px;
	padding: 20px 10px;
}


#footer {
	
	align: center;
	bottom: 0;
	margin-top: 40px;
	margin-bottom: 10px; 
	width: 400px;
	margin-left: 0px;
	text-align: center;
	font-size: smaller;

}

#footer * {
	color: grey;
}